/* Portfolio */
html, body, div, header, h1, h2, .term-one{
    display: block;
    /* position: relative; */
    font-size: 100%;
    -webkit-text-size-adjust: 100%;
    /* min-height: 100vh; */
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}


/* mobile device */
@media (max-width: 768px) {
    body {
        height:100vh;
    }
}

/* header {
    align-items: center;
} */

/* .project {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
} */

 h1 {
    text-align: center;
    display: inline;
    position: relative;
    margin: 0;
    padding: 0;
    width: 14%;
    height: 28%;
    left: 45%;
    right: 30%;
    top: 30%;
    font-family: Georgia, serif;
    font-size: 200%;
    border-top: 3px solid rgb(186, 206, 223);
    border-bottom: 3px solid rgb(186, 206, 223);
} 

/* p {
    display: inline;
    position:relative;
    margin: 0;
    padding: 0;
    top: 38%;
    left: 50%;
    font-size: 150%;
} */

.canvas {
    /* display: block; */
    position:fixed;
    /* align-items: center; */
    width: 100%;
    height: 100%;
    /* padding: 50px 50px; */
    /* height: 90%; */
    background-color:rgb(220, 225, 225);
}

.child {
    display: block;
    /* top: 30px; */
    width: 100%;
    height: 20%;
}


/* .header-info {
    display: inline;
    position: fixed;
    width: 15%;
    height: 5%;
    top: 10%;
    left: 50%;
}  */

/* .headline {
    left: 50%;
    position: fixed;
} */

.main-name {
    color:cadetblue;
}

.table{
    display: inline-block;
    position: relative;
    height: 100%;
    width: 100%;
}

.childtwo {
    display: flex;
    /* justify-content: space-between; */
    width: 100%;
    height: 40%;
}

.data-image {
    display: inline;
    flex: 1 1 100%;
    position:relative;
    width: 50%;
    height: 90%;
    /* left: 7%; */
    top: 8%;
}

.data-image img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.term-one {
    flex: 1 1 100%;
    margin-left: 3%;
    margin-top: 2%;
}

.term-one h2{
    display: inline;
    position: relative;
    width: 20px;
    height: 20px;
    left: 22%;
    font-size: 23px;
    color: rgb(120, 60, 17);
    font-family: cursive;
    font-style: italic;
    text-decoration: underline;
}

h3 {
    margin-top: 5%;
    font-family: "Gill Sans", sans-serif;
    font-size: 20px;
    font-weight: 500;
    color: rgb(31, 226, 232);
}

p {

    font-size: 18px;
    font-family: Georgia, serif;
    text-indent: 5%;
    text-align: justify;
    text-justify: inter-word;
    padding-right: 30%;
    color: rgb(108, 111, 105);
}

button {
    background-color: rgb(245, 245, 249);
    border-color: rgba(52, 131, 241, 0.711);
    position: relative;
    font-size: 20px;
    left: 25%;
    top: 5%;
    padding: 10px 16px;
    color: rgba(6, 75, 173, 0.711);
    cursor: pointer;
}
