@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,900");
@import url("fontawesome-all.min.css");

p,footer, h2 {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

html {
    position: fixed;
}

body {
    display:flex;
    min-height: 100vh;
}

div.topnav {
    width: 14.98%;
}

.topnav {

    width: 100%;
    position:fixed;
    background-color: rgb(49, 154, 183);
    left: 78%; 
    top: 8%;
    border-radius: 4px;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #fbfbfb;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
}
/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #04AA6D;
    color: white;
}

#header h1{
    position: fixed;
    top: 40%;
    left: 53%;
    transform: translate(-50%, -50%);
    width: 30%;
    height: 10%;
}

h1 {
    padding: 0;
    margin: 0;
    border: 0;
    width: 50%;
}

#header h1 {
    color:aliceblue;
    font-family: Georgia, serif;
    font-size:380%;
}

p {
    width: 50%;
}

.main-font {
    color: rgb(239, 195, 34);
}

#header p {
    /* background-color: rgb(42, 176, 188); */
    border-radius: 4px;
    position: fixed;
    color:rgb(0, 0, 0);
    font-weight: 600;
    font-family: system-ui;
    font-size: 1.30em;
    top: 47%;
    text-align: center;
    left: 26%;
}

nav.menu {
    width: 100%;
    top: 60%;
    left: 30%;
    position: fixed;
}

ul {
    margin:0;
    padding: 0;
}  

a.brand-twitter { 
    width: 0;
    height: 0;
}

a.brand-linkedin {
    width: 0;
    height: 0;
}

a.brand-github {
    width: 0;
    height: 0;
}

a.brand-envelope {
    width: 0;
    height: 0;
}

.menu li{
    display: inline;
    font-size: 20px;
    padding: 50px;
}

.ispreload{
    width: 100%;
    height: auto;
    background-size: 100% 100%;
    background: url("images/bg.jpg");
    position: relative;
    animation-name: animate;
    animation-duration: 160s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes animate {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 100% 0;
    }
}

@media only screen and (max-width: 620px) {
    /* For mobile phones: */
    .ispreload, .header, .topnav , .menu, #footer {
      width: 100%;
    }
  }

.brand-twitter {
    color: rgb(226, 90, 106);
    font-size: 50px;
    border-radius: 50%;
    padding: 10px;
    height: 20px;
    border: 2px solid aliceblue;
}

.brand-twitter:hover {
    color:aliceblue;
    transform: scale(1.2);

}

.brand-linkedin {
    color: cadetblue;
    font-size: 50px;
    border-radius: 50%;
    padding: 10px;
    height: 38px;
    border: 2px solid aliceblue;
}

.brand-linkedin:hover {
    color:aliceblue;
    transform: scale(1.2);
}

.brand-github {
    color:black;
    font-size: 50px;
    border-radius: 50%;
    padding: 10px;
    height: 23%;
    border: 2px solid aliceblue;
}

.brand-github:hover {
    color:coral;
    transform: scale(1.2);
}

.brand-envelope {
    color:blueviolet;
    font-size: 50px;
    border-radius: 50%;
    padding: 10px;
    height: 23%;
    border: 2px solid aliceblue;
}

.brand-envelope:hover {
    color:brown;
    transform: scale(1.2);
}

#footer {
    width: 100%;
    position: fixed;
    font-family:cursive;
    font-weight: 400;
    top: 95%;
    left: 30%;
}

#footer a {
    font-size: 140%;
    background-color:aliceblue
}

/* mail-form */

.container{
    position: fixed;
    top: 90px;
    width: 80%;
    height: 80%;
    left: 15%;
    right: 15%;
}

h1.intro{
    /* position:fixed; */
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    top: 30px;
    left: 40px;
    font-size: 40px;
}

.info {
    background:#f2f2f2 ;
    display:flex;
    flex-wrap: wrap;
    width: 70%;
    height: 40%;
    padding: 20px;
    border-radius: 5px;
    position: fixed;
    top: 20%;
}

.form-label {
    font-size: 20px;
    top: 18%;
}

.givenname {
    width: 50%;
    height: 20%;
}

.surname {
    width: 50%;
    height: 20%;
}

.email {
    width: 50%;
    height: 20%;
}

.number {
    width: 50%;
    height: 20%;
}

input.form-control {
    width: 95%;
    height: 35px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;

}

textarea#comments {
    width: 80%;
}

.notes {
    width: 100%;
    height: 50%;
}

.details {
    height: 80%;
}

.send {
    background-color: #04AA6D;
    color: white;
    border-radius: 4px;
    position: fixed;
    top: 70%;
    font-size: 18px;
    padding: 12px 20px;
    cursor: pointer;
}

